{{#>dbtube}}
<div class='home-card'></div>
  <div class='home-videos'>
    <img src='/images/128.webp' />
    <h3>Vue.js: The Documentary</h3>
    <p class='stats'>570,554 views · 24 Feb 2020</p>
  </div>
  <div class="home-videos">
    {{#each this}}
    {{>video-tease tease=this}}
    {{/each}}
  </div>
</div>
{{/dbtube}}