<a class='home-card' href='/videos/135'>
  <div>
    <img src='/images/135.webp' />
    <p>2:03:10</p>
  </div>
  <p>[2020 GSL S1] RO4 Match1 TY vs PartinG</p>
  <p class='stats'>230K views · 1 month ago</p>
</a>