<a class='next-card' href='/videos/128'>
  <div><img src='/images/128.webp' /></div>
  <div class='description'>
    <p>Vue.js: The Documentary</p>
    <p class='stats'>567K views · 4 months ago</p>
  </div>
</a>