{{#>page}}

<h2>Teams</h2>
<ol>
  <li><a href="/teams">Team List</a></li>
  <li><a href="/teams/usa">Team Details</a></li>
  <li><a href="/team-medals">Team Medals</a></li>
  <li><a href="/teams/new">Create Team</a></li>
</ol>

{{/page}}